.navbar{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar a{
    text-decoration:none;
    font-family: arial;
    padding: 0px 7px;
}
.navbar-container{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1920px;
    padding: 10px;
}
.navbar-menu{
    display: flex;
    align-items:center;
    font-weight:bold;
}
.navbar-logo{
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar-logo a {
    color: #333;
}
.navbar-item {
    color: #555;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
.dark-mode-toggle{
    padding-left: 10px;
}
body.dark-mode .navbar-logo a {
    color: #ffffff;
}
  
body.dark-mode .navbar-item {
    color: #bbbbbb;
}

body.dark-mode .navbar-item:hover {
    color: #ffffff;
}